<div 
    class="bg-dark position-relative overflow-hidden h-100 p-0 d-none
    d-lg-flex align-items-center justify-content-center">
    
    <img 
        src="banner.jpg" 
        class="position-absolute top-0 left-0 w-100 h-100"
        style="opacity: 0.15; object-fit: cover;">

    <h1 class="navbar-brand text-uppercase fw-bold fs-1 text-white position-relative">
        <a href="/" class="text-white text-decoration-none">Runo</a>
    </h1>                
</div>