
<section class="banner-404 py-5 bg-dark text-bg-dark banner overflow-hidden position-relative" >    
    <img 
        src="404.jpg" 
        class="position-absolute top-0 left-0 bottom-0 right-0 w-100" 
        style="opacity: 0.15">

    <div class="container-xxl position-relative h-100">
        <div class="row h-100 align-items-center text-center" style="min-height: 40vh">
            <div class="col-12">
                <h1 class="fs-1"><%= title %></h1>
                <p class="lead"><%= subtitle %></p>
            </div>
        </div>
    </div>
</section>