<% if (locals.errorMessage) { %>
    <div class="alert alert-danger d-flex align-items-center mb-5" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
            <%= errorMessage %>
        </div>
    </div>
<% } %>