<footer class="bg-dark text-bg-dark pt-5">
    <div class="container-xxl py-5">
        <div class="row py-5">
            <div class="col-6 col-lg-3">
                <h4 class="mb-4">Contact the Publisher</h4>
                <nav class="fs-6">
                    <a href="#" class="nav-link mb-3">mike@runo.com</a>
                    <a href="#" class="nav-link mb-3">+944 450 904 505</a>
                </nav>                
            </div>
            <div class="col-6 col-lg-3">
                <h4 class="mb-4">Explorate</h4>
                <nav class="fs-6">
                    <a href="#" class="nav-link mb-3">About</a>
                    <a href="#" class="nav-link mb-3">Partners</a>
                    <a href="#" class="nav-link mb-3">Job Opportunites</a>
                    <a href="#" class="nav-link mb-3">Advertise</a>
                    <a href="#" class="nav-link mb-3">Membership</a>
                </nav>                
            </div>
            <div class="col-6 col-lg-3">
                <h4 class="mb-4">Headquarter</h4>
                <address class="fs-6 nav-link mb-3 lh-lg" style="width: 115px;">
                    191 Middleville Road, NY 1001, Sydney Australia
                </address>                
            </div>
            <div class="col-6 col-lg-3">
                <h4 class="mb-4">Connections</h4>
                <nav class="fs-5 d-flex">
                    <a 
                        href="https://facebook.com" 
                        target="_blank" 
                        class="nav-link mb-3 me-4">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a 
                        href="https://twitter.com" 
                        target="_blank" 
                        class="nav-link mb-3 me-4">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a 
                        href="https://youtube.com" 
                        target="_blank" 
                        class="nav-link mb-3 me-4">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a 
                        href="https://pinterest.com" 
                        target="_blank" 
                        class="nav-link mb-3 me-4">
                        <i class="bi bi-pinterest"></i>
                    </a>
                    <a 
                        href="https://behance.net" 
                        target="_blank" 
                        class="nav-link mb-3 me-4">
                        <i class="bi bi-behance"></i>
                    </a>
                </nav>                
            </div>
        </div>
    </div>

    <div class="copyright bg-light pt-5 pb-4" style="--bs-bg-opacity: 0.15">
        <div class="container-xxl">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p>2021 | RUNO Publisher Studio</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <a href="#">Subscribe Now</a>
                </div>
            </div>
        </div>
    </div>
</footer>