<%- include('../partials/user-banner.ejs' , {
    title: 'Edit Article',
    subtitle: 'Complete the form below to edit your article.',
    image: article.thumbnail
}); %> 

<section>
    <div class="container-xxl py-5">        
        <form action="/articles/<%= article.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="row py-5 justify-content-center">
                <div class="col-lg-8">

                    <%- include('_form_fields.ejs'); %> 

                    <div class="mt-5 text-end ">
                        <a href="/articles" class="btn btn-outline-secondary mb-3 me-3 px-5 text-uppercase">Cancel</a>
                        <button type="submit" class="btn btn-primary text-white mb-3 px-5 text-uppercase">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>