<%- include('../partials/user-banner.ejs', { 
    title: "About Us",
    subtitle: "We are Runo",
    image: "banner.jpg"
}) %> 


<section class="py-5">
    <div class="container-sm py-5">
        <div class="row text-center">
            <div class="col-xl-3">
                <div class="fs-1">8.5M+</div>
                <p class="text-muted">Happy Users</p>
            </div>
            <div class="col-xl-3">
                <div class="fs-1">300</div>
                <p class="text-muted">Creative Members</p>
            </div>
            <div class="col-xl-3">
                <div class="fs-1">15+</div>
                <p class="text-muted">Awards Won</p>
            </div>
            <div class="col-xl-3">
                <div class="fs-1">80%</div>
                <p class="text-muted">Daily Engagements</p>
            </div>
        </div>
    </div>
</section>

<section class="p-5 bg-secondary" style="--bs-bg-opacity: .03">
    <div class="container-sm py-5">
        <div class="row align-items-center">
            <div class="col-lg-5 p-3 p-lg-5">
                <img src="banner.jpg" height="500" width="100%" style="object-fit: cover;" >
            </div>
            <div class="col-lg-7 p-3 p-lg-5">
                <h2 class="fs-2 mb-3">Who is Runo</h2>
                <p class="text-muted fs-4">Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data.</p>
                <p class="fs-5 mt-4">Seamlessly syndicate cutting-edge architectures rather than collaborative collaboration and idea-sharing. Proactively incubate visionary interfaces whereas premium benefits. 
                    Seamlessly negotiate ubiquitous leadership skills rather than parallel ideas. Dramatically visualize superior interfaces for best-of-breed alignments.</p>
                <a href="/contact-us" class="btn btn-lg btn-primary text-white text-uppercase mt-4 px-5">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="p-5 bg-white" >
    <div class="container-xxl py-5">
        <div class="row my-5">
            <div class="col-lg-8">
                <h2 class="fs-1">Meet out team of creators, designers and world-class problem solvers</h2>
                <p class="text-muted fs-4">Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/1.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fs-3">Amy Jackson</h5>
                      <p class="card-text">Founder & CEO</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/2.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fs-3">Melanie Fiona</h5>
                      <p class="card-text">Chief Operating Officer</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/3.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fs-3">Samuel Lanister</h5>
                      <p class="card-text">Head of Engineering</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/4.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fs-3">Emily Thorne</h5>
                        <p class="card-text">Chief Marketing Officer</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/5.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fs-3">Richard Garyson</h5>
                      <p class="card-text">Chief Creative Officer</p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card w-100 border-0">
                    <img src="team/6.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fs-3">Amanda Harcourt</h5>
                      <p class="card-text">Chief of Staff</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-white pb-5">
    <div class="container pb-5">
        <div class="row align-items-center justify-content-center text-center p-5 bg-secondary" style="--bs-bg-opacity: .03">
            <div class="col-8">
                <h1 class="fs-1 pt-5">START BLOGGING WITH RUNO</h1>
                <p class="fs-5 px-3">Progressively incentivize cooperative systems through technically sound functionalities. The credibly productivate seamless data.</p>
                <a href="/articles/new" class="btn btn-lg btn-primary text-white text-uppercase mt-4 mb-5 px-5">START NOW</a>

            </div>            
        </div>
    </div>
</section>

